<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="/static/main.css"> <!-- Link your CSS if needed -->
</head>
<body>
    <nav>Chat Room</nav>
    
    <ul id="messages">
      <!-- <li>Example message</li> -->
    </ul>
  <div class="input-class">
    <input id="msg" placeholder="Type here..." />
    <button id="send">Send</button>
  </div>
    <script src="/static/client.js"></script> <!-- Include your JS for WebSocket -->
</body>
</html>